@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PhoneBookUI.Models.Contact.AddContactModel
@{ Layout = "_Layout";}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">مخاطب جدید</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" asp-controller="Contacts" asp-action="Add" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label>نام</label>
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="وارد کردن اطلاعات ...">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label>نام خانوادگی</label>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="وارد کردن اطلاعات ...">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label>عنوان</label>
                    <input type="text" class="form-control" asp-for="Title" placeholder="وارد کردن اطلاعات ...">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label>یادداشت</label>
                    <textarea class="form-control" rows="3" asp-for="Note" placeholder="وارد کردن اطلاعات ..."></textarea>
                    <span class="text-danger" asp-validation-for="Note"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">ارسال فایل</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="Image" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات مخاطب</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>نوع</th>
                                    <th>مقدار</th>
                                    <th>نمایش عمومی</th>

                                </tr>
                                @{int Count = 0;}
                                @do
                                {
                                    <tr>
                                        <td>
                                            <select class="form-control select2 " asp-for="ContactItems[Count].TypeId" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                @foreach (var item in Model.Type4Display)
                                                {

                                                    <option value="@item.Id">@item.Name</option>
                                                }

                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" asp-for="ContactItems[Count].Value" placeholder="وارد کردن اطلاعات ...">
                                            <span class="text-danger" asp-validation-for="ContactItems[Count].Value"></span>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" asp-for="ContactItems[Count].Scope"> 
                                            </div>

                                        </td>

                                    </tr>
                                    Count++;
                                } while (Count < Model.ContactItems.Count);


                            </tbody>
                        </table> 
                    </div>
                    <!-- /.card-body -->

                    
                
            </div>
            


            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
                <button type="submit" class="btn btn-primary">انصراف</button>
            </div>
        </form>
    </div>
@*<form asp-controller="Contacts" asp-action="Add" method="post">
    <input type="text" asp-for="FirstName" />
    <input type="text" asp-for="LastName" />
    <input type="text" asp-for="Title" />
    <input type="text" asp-for="Note" />
    <input type="file" asp-for="Image" />
</form>*@

